@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --slider-bg-color: #ffe4c6;
  --slider-bg-color-hover: #ffe4c6;

  --slider-color: #fab363;
  --slider-color-hover: #e9902c;

  --slider-knob-color: #fab363;
  --slider-knob-color-hover: #e9902c;
}

.circular-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  margin: 20px;
}

.circular-slider-svg {
  cursor: pointer;
  overflow: visible;
}

/* Background circle */
.slider-bg {
  fill: none;
  stroke: var(--slider-bg-color);
  stroke-width: 11;
  transition: stroke 0.2s ease;
}

/* Progress circle */
.slider-progress {
  fill: none;
  stroke: var(--slider-color);
  stroke-width: 13;
  stroke-linecap: round;
  transition: stroke 0.2s ease;
  stroke-dashoffset: 0.15s ease;
}

/* Knob circle */
.slider-knob {
  fill: var(--slider-knob-color);
  stroke: #fff;
  stroke-width: 2;
  transition:
    fill 0.2s ease,
    stroke 0.2s ease;
}

/* When the mouse hovers anywhere over the SVG */
.circular-slider-svg:hover .slider-bg {
  stroke: var(--slider-bg-color-hover);
}

.circular-slider-svg:hover .slider-progress {
  stroke: var(--slider-color-hover);
}

.circular-slider-svg:hover .slider-knob {
  fill: var(--slider-knob-color-hover);
}

.circular-slider-input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.workDuration-input {
  font-family: "Courier Prime", sans-serif;
  font-weight: 700;
  background: #fab363;
  border: 2px solid #e9902c;
  border-radius: 10px;
  outline: none;
  box-shadow: none;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  width: 6rem;
}

.workDuration-input:hover {
  background-color: #e9902c;
}
